/* general styles */




/*scrol to top*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* End Scroll to Top */


body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.3em;
  margin: 0;
  padding: 0;
  text-align: center;
}
/*¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ pallet color ¶¶¶¶¶¶*/
#hero                 { background-color: #ffeaf3; color: #872748; }
  #hero .arrow-box    { background-color: #ff2b63; }
  #hero .arrow        { border-color: #ffeaf3 transparent transparent transparent; }

#one                  { background-color: #ff2b63; color: #872748; }
  #one .arrow-box     { background-color: #872748; }
  #one .arrow         { border-color: #ff2b63 transparent transparent transparent; }

#two                  { background-color: #872748; color: #ff2b63; }
  #two .arrow-box     { background-color: #ff2b63; }
  #two .arrow         { border-color: #872748 transparent transparent transparent; }

#three                { background-color: #ff2b63; color: #872748; }
  #footer             { background-color: rgba(0,0,0,0.5); color: #ff2b63; }

/*¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ navigation ¶¶¶¶¶¶*/
#nav-container {
  position: fixed;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
#menu {
  display: block;
  list-style-type: none;
  margin-left: -2.5em;
}
#menu li a {
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  height: 15px;
  margin: 1.5em 0;
  width: 15px;
}
#nav { display: none; }
.link {
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  color: #fff;
  height: 15px;
  margin: 1.5em 0;
  width: 15px;
}
.link-active {background-color: #fff;}
@media screen and (max-width: 1024px) {
  #nav { display: block; }
  #menu { display: none; }
}
/*¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ general ¶¶¶¶¶¶*/
#fullpage {
  position: relative;
  width: 100%;
}
.section {  
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;
}
.section > p, .section h1 {
  max-width: 800px;
  padding: 0.5em;
}
.section p { width: 80%; }
.arrow-box {
  bottom: 0;
  height: 20px;
  position: absolute;
  width: 100%;
}
.arrow {  
  border-style: solid;
  border-width: 15px 15px 0 15px;
  height: 0;
  margin: 0 auto;
  width: 0;
}
/*¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ icon ¶¶¶¶¶¶*/
.icon-box {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.icon {
  align-items: center;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 3em;
  justify-content: center;
  height: 100px;
  margin: 0.3em;
  width: 100px;
}
.icon:hover {
  transform: scale(1.5);
}
/*¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶¶ three ¶¶¶¶¶¶*/
#three {
  justify-content: space-between;
}
.three-text-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
}
#footer {
  align-items: center;
  display: flex;
  height: 20vh;
  width: 100%;
}
#footer p {
  margin: auto;
}
#link {
  bottom: 20px;
  color: #fff;
  opacity: 0.6;
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#link p {font-size: 0.8em; margin: 0; margin-left: 5px;}
#link:hover {opacity: 1;}


/*==================
 CONTACT PAGE
====================*/

.mu-title {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

#mu-contact {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

#mu-contact .mu-contact-area {
  display: inline;
  float: left;
  width: 100%;
}

#mu-contact .mu-contact-area .mu-contact-content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform {
  display: inline;
  float: left;
  width: 100%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform .reply-title {
  font-size: 25px;
  margin-top: 0;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform label {
  display: block;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform label .required {
  color: #f60;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="text"],
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="email"],
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="url"] {
  border: none;
  border: 1px solid #ddd;
  color: #555;
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform textarea {
  border: none;
  border: 1px solid #ddd;
  color: #555;
  margin-bottom: 5px;
  padding: 10px;
  height: 150px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform .form-submit input {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 65%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
  height: 500px;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 300px;
  }    
        
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
    margin-top: 50px;
  }
}

#mu-contact {
    padding: 50px 0;
  }

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 350px;
  }
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 300px;
}

/*==================
 END CONTACT PAGE
====================*/


/* footer */
.social {
  display: flex;
  justify-content: space-around;
}

footer .svg-inline--fa {
  color: salmon;
  font-size: 65px;
}

footer .svg-inline--fa:hover {
  color: #3c778a;
}
