/* general styles */




/*scrol to top*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

/* End Scroll to Top */

/*----------- general------------- */ 
body {
  background-color: #f2f2f2;
  font-family: "Lato", Arial, Sans-serif;
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  color: #2f2f2f;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

t {
  font-weight: 700;
}

sm{
  font-size: 12px;
}

a:hover, a:link, a:visited, a:active {
  text-decoration: none;
  color: #297ACC;
}

.resume-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.centered {
  text-align: center;
}


/*----Nav Bar------------------*/

#section-topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	overflow: visible;
	font-size: 25px;
}

#section-topbar ul {
	display: inline-block;
	position: relative;
	/* For IE, the outcast */
	zoom:1;
	*display: inline;
}

#section-topbar li {
    display: inline-block;
    float: left;
    width: 80px;
}

#section-topbar a {
  display: block;
  text-decoration: none;
  padding: 18px;
  color: white;
}

#section-topbar a:hover {
  background: #222;
  text-decoration: none;
}

#section-topbar .active a {
  background: #44bbaa;
}

#topbar-inner {
	background: #2f2f2f;
	line-height: 0;
	text-align: center;
}


/*----header wrap------------------*/
#headerwrap {

  background: url(http://www.mattmwheeler.com/img/IMG_3824-2.jpg);
  margin-top: 35px;
	padding-top: 240px;
	background-attachment: relative;
	background-position: center;
	min-height: 700px;
  max-height: 700px;
	width: 100%;
  background-size: 100%;
  background-size: cover;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#headerwrap h1 {
	font-size: 80px;
	color: 2c3e50;
	font-weight: 600;
	margin: 0px;
	text-align: left;
}

#headerwrap h3 {
	font-size: 40px;
	color: 2c3e50;
	font-weight: 600;
	margin: 0px;
	text-align: left;
}


/*----Dark Wraps------------------*/
.dark-background {
	background: #2c3e50;
	color: white;
}


/*----Foot Wrap------------------*/
#footwrap {
	background: #2f2f2f;
	padding-top: 60px;
	padding-bottom: 60px;
  color: white;
}

#footwrap a:hover,#footwrap a,#footwrap a:link,#footwrap a:visited,#footwrap a:active {
  text-decoration: none;
  color: #19D1A3;
}


/*==================
 CONTACT PAGE
====================*/

.mu-title {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

#mu-contact {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

#mu-contact .mu-contact-area {
  display: inline;
  float: left;
  width: 100%;
}

#mu-contact .mu-contact-area .mu-contact-content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform {
  display: inline;
  float: left;
  width: 100%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform .reply-title {
  font-size: 25px;
  margin-top: 0;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform label {
  display: block;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform label .required {
  color: #f60;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="text"],
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="email"],
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="url"] {
  border: none;
  border: 1px solid #ddd;
  color: #555;
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform textarea {
  border: none;
  border: 1px solid #ddd;
  color: #555;
  margin-bottom: 5px;
  padding: 10px;
  height: 150px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform .form-submit input {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 65%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
  height: 500px;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 300px;
  }    
        
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
    margin-top: 50px;
  }
}

#mu-contact {
    padding: 50px 0;
  }

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 350px;
  }
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 300px;
}

/*==================
 END CONTACT PAGE
====================*/


/* footer */
.social {
  display: flex;
  justify-content: space-around;
}

footer .svg-inline--fa {
  color: salmon;
  font-size: 65px;
}

footer .svg-inline--fa:hover {
  color: #3c778a;
}
