/* general styles */
body {
  font-family: "Nunito", sans-serif;
}

/* ALL SECTION */
/*scrol to top*/
.scrollToTop {
  border-radius: 4px;
  bottom: 60px;
  color: #debf12;
  display: none;
  font-size: 30px;
  line-height: 50px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  padding: 5px 0;
  position: fixed;
  right: 20px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 999;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.scrollToTop i {
  display: block;
}
.scrollToTop span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.scrollToTop:hover,
.scrollToTop:focus {
  color: #d34bcaa;
  background: #debf12;
  border-color: #34bcaa !important;
}

/* End Scroll to Top */


.container {
  padding: 5% 10%;
  text-align: center;
}

img {
  border-radius: 50%;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36px;
}

/* nav bar */
nav {
  background-color: white;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

nav li {
  padding: 10px 30px;
}

nav a {
  color: darkblue;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: deepskyblue;
  text-decoration: line-through;
}

/* header section */
header {
  background: linear-gradient(180deg, rgb(255, 255, 255), rgb(205, 237, 254));
  font-size: 25px;
  padding: 15% 10%;
}

header h1 span {
  color: darkblue;
  font-family: "Pacifico", cursive;
  font-size: 90px;
  padding-left: 10px;
  padding-right: 10px;
}

header h1 span:hover {
  color: palevioletred;
}

/* about me section */
.about {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1)),
    url("../images/stars.png");
  background-size: cover;
  background-attachment: fixed;
}

/* my skills section */
.skills ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0px;
}

.skills li {
  background-color: paleturquoise;
  box-shadow: 20px 20px 1px 2px rgba(255, 214, 255, 1);
  font-size: 35px;
  margin: 35px;
  padding: 20px;
  text-align: center;
}

/* my work  */
.work {
  background-color: #bdd5ff;
}

.work-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.work-items img {
  margin-bottom: 30px;
}


/*==================
 CONTACT PAGE
====================*/

.mu-title {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}

#mu-contact {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}

#mu-contact .mu-contact-area {
  display: inline;
  float: left;
  width: 100%;
}

#mu-contact .mu-contact-area .mu-contact-content {
  display: inline;
  float: left;
  margin-top: 50px;
  width: 100%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform {
  display: inline;
  float: left;
  width: 100%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform .reply-title {
  font-size: 25px;
  margin-top: 0;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform label {
  display: block;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform label .required {
  color: #f60;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="text"],
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="email"],
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform input[type="url"] {
  border: none;
  border: 1px solid #ddd;
  color: #555;
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform textarea {
  border: none;
  border: 1px solid #ddd;
  color: #555;
  margin-bottom: 5px;
  padding: 10px;
  height: 150px;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-left .contactform .form-submit input {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 65%;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
  height: 500px;
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 300px;
  }    
        
#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right {
    margin-top: 50px;
  }
}

#mu-contact {
    padding: 50px 0;
  }

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 350px;
  }
}

#mu-contact .mu-contact-area .mu-contact-content .mu-contact-right iframe {
    height: 300px;
}

/*==================
 END CONTACT PAGE
====================*/


/* footer */
.social {
  display: flex;
  justify-content: space-around;
}

footer .svg-inline--fa {
  color: salmon;
  font-size: 65px;
}

footer .svg-inline--fa:hover {
  color: #3c778a;
}
